.header {
    display: flex;
    justify-content: space-between;
    padding: 17px 101px 0;
}

.header_right {
    display: flex;
    width: 240px;
    justify-content: flex-end;
}

.cart-logo {
    margin-left: 20px;
}