.grey-line {
    height: 1px;
    width: 100%;
    background: #E5E5E5;
}

.cart-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-item__right {
    display: flex;
}

.name {
    margin-bottom: 20px;
}

.price_value {
    line-height: 24px;
    margin-bottom: 20px;
}

.btn-remove {
    padding: 10px 20px;
    border: none;
    background: #5ECE7B;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-remove:active {
    transform: scale(0.97);
}

.cart-item__quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.quantity {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
}

.btn-plus, .btn-minus {
    cursor: pointer;
}

.btn-plus:active svg, .btn-minus:active svg {
    transform: scale(0.97);
}