.grey-line {
    height: 1px;
    width: 100%;
    background: #E5E5E5;
}

.cart-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-item__right {
    display: flex;
}

.cart-item__info .name {
    margin-bottom: 20px;
}

.price_value {
    line-height: 24px;
    margin-bottom: 20px;
}

.cart-item__attributes-title {
    margin-bottom: 7px !important;
}

.cart-item__attributes .attributes:not(.cart-item__attributes .attributes:last-child) {
    margin-bottom: 16px;
}

.cart-item__attributes .attributes:last-child {
    margin-bottom: 0px;
}

.cart-item__attributes-text_false,
.cart-item__attributes-color_false,
.cart-item__attributes-text_true,
.cart-item__attributes-color_true {
    margin-right: 8px !important;
    cursor: default !important;
}

.cart-item__attributes-text_true {
    background: #1D1F22;
    color: #FFFFFF;
}

.cart-item__attributes-color_true {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #5ece7b;
}

.cart-item__quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.quantity {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
}

.btn-plus, .btn-minus {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: 1px solid #1D1F22;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-plus span, .btn-minus span {
    position: absolute;
    width: 15px;
    height: 1px;
    background: #1D1F22;
}

.btn-plus span:last-child {
    transform: rotate(90deg);
}

.btn-plus:active, .btn-minus:active {
    transform: scale(0.97);
}

.cart-item__gallery {
    margin-left: 24px;
}